	<div th:fragment="logo">
		<div class="join-login-btn" >
          <a th:href="@{/user/login}" sec:authorize="isAnonymous()" style="text-decoration: blink;">로그인</a>
          <a th:href="@{/user/logout}" sec:authorize="isAuthenticated()" style="text-decoration: blink;">로그아웃</a>
          <a th:href="@{/user/join}" style="text-decoration: blink;">회원가입</a>
        </div>
        <div id="logo"  >
                    <!--매핑 : 홈  insight-->
         <h1><a href="/" style="text-decoration: blink;">insight</a></h1>
          
        </div>
        <ul class="menu">
             <!--매핑 : 공지사항 insight/Importantmain , 게시판 : insight/Notice , 캘린더 : insight/Calendermain-->
          <li><a href="/important/main" style="text-decoration: blink;">공지사항</a></li>
          <li><a href="/notice/main" style="text-decoration: blink;">게시판</a></li>
           <li><a href="#" id="calendarLink">캘린더</a></li>
        </ul>
			<script>
			  // 현재 날짜를 가져오기
			  let today = new Date();
			  let year = today.getFullYear();
			  let month = ('0' + (today.getMonth() + 1)).slice(-2);
			  let day = ('0' + today.getDate()).slice(-2);
			
			  // 링크에 오늘 날짜를 추가
			  let calendarLink = document.getElementById("calendarLink");
			  calendarLink.href = "calender/" + year + "-" + month + "-" + day;
			</script>
</div>