<html layout:decorate="~{layout}">
	<head>
	    <title>캘린더</title>
	    <style>
		    .error {
		        color: red;
		        font-size: 30px;
		        background-color: #ffcccc;
		        padding: 5px;
		        border: 2px solid #ff9999;
		        border-radius: 5px;
		    }
		    .timeBox {
				width: 9%;
			}
		</style>
	</head>
	<body>
		<div layout:fragment="content" class="container">
		    <h1 class="my-3 border-bottom pb-2">일정 등록</h1>
		    <form th:object="${calendarRegisteForm}"  method="post">
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
				<div th:replace="~{form_errors :: formErrorsFragment}"></div>
				<div th:if="${DateError}">
			        <span class="error" th:if="${DateError}" th:text="${DateError}"></span>
			    </div>
			    <div th:if="${TimeError}">
			        <span class="error" th:if="${TimeError}" th:text="${TimeError}"></span>
			    </div>
				<div class="timeBox">
					<label for="calStartDay">시작 날짜 선택:</label>
					<input type="date" id="calStartDay" th:field="*{calStartDay}" class="form-control">
				</div>
				<div class="timeBox">
					<label for="calEndDay">종료 날짜 선택:</label>
					<input type="date" id="calEndDay" th:field="*{calEndDay}" class="form-control">
				</div>
				<div class="timeBox">
					<label for="calStartTime">시작 시간 선택:</label>
					<input type="time" th:field="*{calStartTime}" class="form-control">
				</div>
				<div class="timeBox">
					<label for="calEndTime">종료 시간 선택:</label>
					<input type="time" th:field="*{calEndTime}" class="form-control">
				</div>
		        <div class="mb-3">
		            <label for="calText" class="form-label">일정</label>
		            <textarea th:field="*{calText}"class="form-control" rows="3" required></textarea>
		        </div>
		        <div th:if="${modify}" class="my-3">
					<input type="submit" value="수정" class="btn btn-primary my-2">
	                <a href="javascript:void(0);" th:data-uri="@{|/calendar/delete/${calendar.getCalId}|}"
		                class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
		                th:text="삭제"></a>
	                <a th:href="@{|/calendar/${calendar.getCalStartDay}/main|}" class="btn btn-primary">목록</a>
				</div>
				<div th:if="${create}" class="my-3">
					<button type="submit" value="저장하기" class="btn btn-primary">저장하기</button>
					<a th:href="@{|/calendar/${calStartDay}/main|}" class="btn btn-primary">목록</a>
				</div>
		    </form>
		</div>
		<script layout:fragment="script" type='text/javascript'>
			const delete_elements = document.getElementsByClassName("delete");
			Array.from(delete_elements).forEach(function(element) {
			    element.addEventListener('click', function() {
			        if(confirm("정말로 삭제하시겠습니까?")) {
			            location.href = this.dataset.uri;
			        };
			    });
			});

		</script>
	</body>
</html>








