<html layout:decorate="~{layout}">
	<head>
		<title>
		모집 요강
		</title>
	</head>
<div layout:fragment="joinrule">
<section class="text-center mx-0" style="background-color: mediumpurple; height: auto;">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">지금은 모집 기간 입니다</h1>
        <p class="lead text-body-secondary">현재 2기 활동중입니다!</p>
      </div>
    </div>
  </section>
	
<div class="album py-5">
    <div class="container">
		<h2 style="text-align: center; margin-bottom: 5%;"><지원 방법></h2>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <div class="card-body" style="height: 158px;">
              <h4 class="card-text" style="text-align: center;">모집 기간</h4>
              <div class="d-flex justify-content-between align-items-center">
				  8월 6일 일요일
				  <br>
				  ~ 8월 13일 일요일 (오후 5시)
              </div>
            </div>
          </div>
        </div>
        
        <div class="col">
          <div class="card shadow-sm">
            <div class="card-body" style="height: 158px;">
				<h4 class="card-text" style="text-align: center;">지원 자격</h4>
              <div class="card-text">
				  LINC3.0 사업단에 가입이 되어 있는 학과의 학생
				  <br>현재 동아리에서 진행하고 있는 활동에 참여하고 싶은 학생 
				  <br>새로운 프로젝트를 열정을 가지고 만들어 나가고 싶은 학생 
				  <br>매주 진행하는 (학기중에는 격주) 스터디에 참여가능한 사람 
			  </div>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
        
        <div class="col">
          <div class="card shadow-sm">
            <div class="card-body" style="height: 158px;">
				<h4 class="card-text" style="text-align: center;">지원 방법</h4>
              <p class="card-text">1차 회원 가입
				  <br>
				  <small style="color: gray;"> - 홈페이지에서 회원가입 (서류접수) </small>
				  <br>
				  2차 면접 후 최종 합격</p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  <div class="album py-5">
    <div class="container">
		<h2 style="text-align: center; margin-bottom: 5%;"><모집 일정></h2>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        
        <div class="col">
          <div class="card shadow-sm">
            <div class="card-body" style="height: 155px;">
				<h4 class="card-text" style="text-align: center;">서류 결과 발표</h4>
              <p class="card-text"><center>8월 13일 개별 연락</center></p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
        
        <div class="col">
          <div class="card shadow-sm">
            <div class="card-body" style="height: 155px;">
				<h4 class="card-text" style="text-align: center;">면접</h4>
				<div calss="card-text">
					<center>8월 14일 월요일 (오후 1시 ~ 오후 6시)</center>
					<center>8월 16일 수요일 (오전 11시 ~ 오후 6시)</center>
					<br>
				</div>
              <div class="d-flex justify-content-between align-items-center">
				  <br>
				  <small style="color: gray;"> 시간은 변경될 수 있음 </small>
				  <br>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col">
          <div class="card shadow-sm">
            <div class="card-body" style="height: 155px;">
				<h4 class="card-text" style="text-align: center;">최종 발표</h4>
              <p class="card-text"><center>8월 16일 목요일</center></p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  </div>
</html>