
<nav th:fragment="logo" class="navbar navbar-expand-lg navbar-dark bg-black">
    <div class="container-fluid">
		<a class="navbar-brand" href="/"><img class="bi me-2 mx-3" width="100" height="auto"src="/../picture/insight로고.png"></img></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/important/main">공지사항</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/notice/main/all">게시판</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" id="calendarLink">캘린더</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/introduce">동아리원 소개</a>
          </li>
        </ul>
       <div class="text-end">
							<ul class="menu" style="justify-content: flex-end; ">
					          <a th:href="@{/user/login}" sec:authorize="isAnonymous()" class="px-2 text-white">로그인</a>
					          <a th:href="@{/user/logout}" sec:authorize="isAuthenticated()" class="px-2 text-white">로그아웃</a>
						 	  <a th:href="@{/user/join}" sec:authorize="isAnonymous()" class="px-2 text-white">회원가입</a>
							  <a th:href="@{|/user/detail/${#authentication.principal.username}|}"th:text="${#authentication.principal.username}" sec:authorize="hasRole('USER')" class="px-2 text-white"></a>
							  <a sec:authorize="hasRole('ADMIN')" th:href="@{/user/list}" class="px-2 text-white">회원 관리</a>
						  </ul>
			        </div>
      </div>
    </div>
  </nav>
    <script>
			  // 현재 날짜를 가져오기
			  let today = new Date();
			  let year = today.getFullYear();
			  let month = ('0' + (today.getMonth() + 1)).slice(-2);
			  let day = ('0' + today.getDate()).slice(-2);
			  let calendarLink = document.getElementById("calendarLink");
			  // 링크에 오늘 날짜를 추가
			  calendarLink.href = "/calendar/" + year + "-" + month + "-" + day + "/main";
			  calendarLink.id = calendarLink.getAttribute("href").replace("!", "");
	</script>
 