<html layout:decorate="~{layout}">
	<head>
		<title>
		게시판
		</title>
	</head>
<div layout:fragment="content" class="container my-3">
    <!-- 질문 -->
    <h1 class="border-bottom py-2" th:text="${notice.noticeTitle}"></h1>
    
    <div class="card my-3">
    <div class="card-body" style="border: 1px solid; display: flex;">
        <div style="flex: 1;">
            <pre style="margin: 0;">
                <h5 class="card-text" th:utext="${@commonUtil.markdown(notice.noticeText)}"></h5>
            </pre>
        </div>
        
        <div style="display: flex; flex-direction: column; align-items: flex-end;">
            <div class="d-flex justify-noticeText-end">
                <div class="badge bg-light text-dark text-start mx-2">
                    <div class="mb-2">
                        <p>작성자: <span class="mx-1" th:if="${notice.noticeAuthor != null}" th:text="${notice.noticeAuthor.getStudentName}"></span></p>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-noticeText-end my-3">
                <div class="badge bg-light text-dark text-start mx-2">
                    <p><span class="mb-2">작성시간</span>
                    <span th:text="${#temporals.format(notice.noticeRegister, 'yyyy-MM-dd HH:mm')}"></span></p>
                    <p th:if="${notice.noticeModifyRegister != null}"><span class="mb-2">수정시간</span>
                    <span th:if="${notice.noticeModifyRegister != null}" th:text="${#temporals.format(notice.noticeModifyRegister, 'yyyy-MM-dd HH:mm')}"></span></p>
                </div>
            </div>
            <div class="mb-3 mx-3">
                <a th:href="@{|/notice/modify/${notice.noticeId}|}" class="btn btn-sm"
                    sec:authorize="hasRole('USER') || hasRole('ADMIN')"
                    th:if="${#authentication.getPrincipal().getUsername() == notice.noticeAuthor || #authorization.expression('hasRole(''ROLE_ADMIN'')')}"
                    th:text="수정"></a>
                <a href="javascript:void(0);" th:data-uri="@{|/notice/delete/${notice.noticeId}|}"
                    class="delete btn btn-sm" sec:authorize="hasRole('USER') || hasRole('ADMIN')"
                    th:if="${#authentication.getPrincipal().getUsername() == notice.noticeAuthor || #authorization.expression('hasRole(''ROLE_ADMIN'')')}"
                    th:text="삭제"></a>
            </div>
        </div>
    </div>
</div>
<div>
	<tr th:if="${notice.fileAttached == 1}">
        <th>image</th>
        <td><img th:src="@{|/upload/${notice.storedFileName}|}" alt=""></td>
	</tr>
</div>
<!--
     답변의 갯수 표시 
    <h5 class="border-bottom border-top py-2 mt-5 mb-3" 
        th:text="|댓글 ${#lists.size(notice.commentList)}|"></h5>
     답변 반복 시작 
    <div class="card my-3" th:each="noticeComment : ${notice.commentList}">
    <a th:id="|comment_${noticeComment.cmId}|"></a>
     댓글 박스 
    <div class="card-body" style="display: flex;">
        <div style="flex: 1;">
            <pre style="margin: 0;" class="card-text" th:utext="${@commonUtil.markdown(noticeComment.cmText)}"></pre>
        </div>
        
        <div style="display: flex; flex-direction: column; align-items: flex-end;">
            <div class="badge bg-light text-dark text-start mx-3">
                <div class="mb-2">
                    <p>작성자: <span class="mx-1" th:if="${noticeComment.cmAuthor != null}" th:text="${noticeComment.cmAuthor.studentName}"></span></p>
                </div>
            </div>
            
            <div class="badge bg-light text-dark text-start mx-3 mt-2">
                <p><span>작성시간</span>
                <span th:text="${#temporals.format(noticeComment.cmRegister, 'yyyy-MM-dd HH:mm')}"></span></p>
                <p th:if="${noticeComment.cmModifyRegister != null}"><span>수정시간</span>
                <span th:text="${#temporals.format(noticeComment.cmModifyRegister, 'yyyy-MM-dd HH:mm')}"></span></p>
            </div>
            
            <div class="my-2" style="display: flex; position: relative; float: right;">
                <a th:href="@{|/comment/modify/${noticeComment.cmId}|}" class="btn btn-sm mx-1"
                    sec:authorize="hasRole('USER') || hasRole('ADMIN')"
                    th:if="${#authentication.getPrincipal().getUsername() == noticeComment.cmAuthor.username || #authorization.expression('hasRole(''ROLE_ADMIN'')')}"
                    th:text="수정"></a>
                <a href="javascript:void(0);" th:data-uri="@{|/comment/delete/${noticeComment.cmId}|}" class="delete btn btn-sm"
                    sec:authorize="hasRole('USER') || hasRole('ADMIN')"
                    th:if="${#authentication.getPrincipal().getUsername() == noticeComment.cmAuthor.username || #authorization.expression('hasRole(''ROLE_ADMIN'')')}"
                    th:text="삭제"></a>
            </div>
        </div>
    </div>
</div>

     답변 반복 끝  
     답변 작성 
    <form th:action="@{|/comment/create/${notice.noticeId}|}" th:object="${noticeCommentForm}" method="post" class="my-3">
		<div th:replace="~{form_errors :: formErrorsFragment}"></div>
        <textarea sec:authorize="hasRole('ADMIN') || hasRole('USER')" th:field="*{cmText}" class="form-control" rows="10"></textarea>
        <div style="text-align: right;" >
	        <input type="submit" value="답변등록" class="btn my-2" sec:authorize="hasRole('ADMIN') || hasRole('USER')">
	        <a th:href="@{/notice/main/all}" class="btn ">목록</a>
        </div>
    </form>
</div>
<script layout:fragment="script" type='text/javascript'>
const delete_elements = document.getElementsByClassName("delete");
Array.from(delete_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        if(confirm("정말로 삭제하시겠습니까?")) {
            location.href = this.dataset.uri;
        };
    });
});
</script>
-->
</html>