<html layout:decorate="~{layout}">
	<head>
		<title>
			동아리원 소개
		</title>
	</head>
<div layout:fragment="userinfo">
	<div class="row mb-2">
		    <div class="col-md-6">
			    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
				    <div class="col p-4 d-flex flex-column position-static">
				          <strong class="d-inline-block mb-2" id="ut">부장</strong>
				          <h3 class="mb-0">최영미</h3>
				          <div class="mb-1 text-muted">컴퓨터공학과</div>
				          <div class="mb-1 text-muted">3학년</div>
				    </div>
				      <div class="col-auto">
				      	<img class="bd-placeholder-img" src="/../userpicture/최영미.jpg" width="200" height="250" style=" background-position:center; background-size:cover;"></img>
				      </div>
			    </div>
		    </div>
	
	    <div class="col-md-6">
		    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
			    <div class="col p-4 d-flex flex-column position-static">
			          <strong class="d-inline-block mb-2" id="ut">부부장</strong>
			          <h3 class="mb-0">류진우</h3>
			          <div class="mb-1 text-muted">산업ICT기술공학</div>
			          <div class="mb-1 text-muted">4학년</div>
			    </div>
		        <div class="col-auto">
		        	<svg class="bd-placeholder-img" width="200" height="250" style="background-image:url(/../userpicture/류진우.jpg); background-position:center; background-size:cover;"></svg>
		        </div>
	    	</div>
	    </div>
    </div>
    
    <div class="row mb-2">
		    <div class="col-md-6">
			    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
				    <div class="col p-4 d-flex flex-column position-static">
				          <strong class="d-inline-block mb-2" id="ut">총무</strong>
				          <h3 class="mb-0">김  현</h3>
				          <div class="mb-1 text-muted">산업ICT기술공학</div>
				          <div class="mb-1 text-muted">3학년</div>
				    </div>
				      <div class="col-auto">
				      	<svg class="bd-placeholder-img" width="200" height="250" style="background-image:url(/../userpicture/김현.jpg); background-position:center; background-size:cover;"></svg>
				      </div>
			    </div>
		    </div>
	
	    <div class="col-md-6">
		    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
			    <div class="col p-4 d-flex flex-column position-static">
			          <strong class="d-inline-block mb-2" id="ut">부원</strong>
			          <h3 class="mb-0">김희준</h3>
			          <div class="mb-1 text-muted">산업ICT기술공학</div>
			          <div class="mb-1 text-muted">4학년</div>
			    </div>
		        <div class="col-auto">
		        	<svg class="bd-placeholder-img" width="200" height="250" style="background-image:url(/../userpicture/김희준.jpg); background-position:center; background-size:cover;"></svg>
		        </div>
	    	</div>
	    </div>
    </div>
    
    <div class="row mb-2">
		    <div class="col-md-6">
			    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
				    <div class="col p-4 d-flex flex-column position-static">
				          <strong class="d-inline-block mb-2" id="ut">부원</strong>
				          <h3 class="mb-0">임성룡</h3>
				          <div class="mb-1 text-muted">산업ICT기술공학</div>
				          <div class="mb-1 text-muted">3학년</div>
				    </div>
				      <div class="col-auto">
				      	<svg class="bd-placeholder-img" width="200" height="250" style="background-image:url(/../userpicture/임성룡.jpg); background-position:center; background-size:cover;"></svg>
				      </div>
			    </div>
		    </div>
	
	    <div class="col-md-6">
		    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
			    <div class="col p-4 d-flex flex-column position-static">
			          <strong class="d-inline-block mb-2" id="ut">부원</strong>
			          <h3 class="mb-0">박재호</h3>
			          <div class="mb-1 text-muted">산업ICT기술공학</div>
			          <div class="mb-1 text-muted">3학년</div>
			    </div>
		        <div class="col-auto">
		        	<svg class="bd-placeholder-img" width="200" height="250" style="background-image:url(/../userpicture/박재호.jpg); background-position:center; background-size:cover;"></svg>
		        </div>
	    	</div>
	    </div>
    </div>
    
    <div class="row mb-2">
		    <div class="col-md-6">
			    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
				    <div class="col p-4 d-flex flex-column position-static">
				          <strong class="d-inline-block mb-2" id="ut">부원</strong>
				          <h3 class="mb-0">신승우</h3>
				          <div class="mb-1 text-muted">컴퓨터공학과</div>
				          <div class="mb-1 text-muted">2학년</div>
				    </div>
				      <div class="col-auto">
				      	<svg class="bd-placeholder-img" width="200" height="250" style="background-image:url(/../userpicture/신승우.jpg); background-position:center; background-size:cover;"></svg>
				      </div>
			    </div>
		    </div>
	
	    <div class="col-md-6">
		    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
			    <div class="col p-4 d-flex flex-column position-static">
			          <strong class="d-inline-block mb-2" id="ut">부원</strong>
			          <h3 class="mb-0">김봉주</h3>
			          <div class="mb-1 text-muted">컴퓨터공학과</div>
			          <div class="mb-1 text-muted">3학년</div>
			    </div>
		        <div class="col-auto">
		        	<svg class="bd-placeholder-img" width="200" height="250" style="background-image:url(/../userpicture/김봉주.jpg); background-position:center; background-size:cover;"></svg>
		        </div>
	    	</div>
	    </div>
    </div>
    
    <div class="row mb-2">
		    <div class="col-md-6">
			    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
				    <div class="col p-4 d-flex flex-column position-static">
				          <strong class="d-inline-block mb-2" id="ut">부원</strong>
				          <h3 class="mb-0">이정훈</h3>
				          <div class="mb-1 text-muted">컴퓨터공학과</div>
				          <div class="mb-1 text-muted">3학년</div>
				    </div>
				      <div class="col-auto">
				      	<svg class="bd-placeholder-img" width="200" height="250" style="background-image:url(/../userpicture/이정훈.jpg); background-position:center; background-size:cover;"></svg>
				      </div>
			    </div>
		    </div>
	
	    <div class="col-md-6">
		    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
			    <div class="col p-4 d-flex flex-column position-static">
			          <strong class="d-inline-block mb-2" id="ut">부원</strong>
			          <h3 class="mb-0">박재성</h3>
			          <div class="mb-1 text-muted">산업ICT기술공학</div>
			          <div class="mb-1 text-muted">3학년</div>
			    </div>
		        <div class="col-auto">
		        	<svg class="bd-placeholder-img" width="200" height="250" style="background-image:url(/../userpicture/재성.jpg); background-position:center; background-size:cover;"></svg>
		        </div>
	    	</div>
	    </div>
    </div>
    
    <div class="row mb-2">
		    <div class="col-md-6">
			    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
				    <div class="col p-4 d-flex flex-column position-static">
				          <strong class="d-inline-block mb-2" id="ut">부원</strong>
				          <h3 class="mb-0">김민경</h3>
				          <div class="mb-1 text-muted">산업ICT기술공학</div>
				          <div class="mb-1 text-muted">3학년</div>
				    </div>
				      <div class="col-auto">
				      	<svg class="bd-placeholder-img" width="200" height="250" style="background-image:url(/../userpicture/김민경.jpg); background-position:center; background-size:cover;"></svg>
				      </div>
			    </div>
		    </div>
	
	    <div class="col-md-6">
		    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
			    <div class="col p-4 d-flex flex-column position-static">
			          <strong class="d-inline-block mb-2" id="ut">부원</strong>
			          <h3 class="mb-0">정시영</h3>
			          <div class="mb-1 text-muted">산업ICT기술공학</div>
			          <div class="mb-1 text-muted">3학년</div>
			    </div>
		        <div class="col-auto">
		        	<svg class="bd-placeholder-img" width="200" height="250" style="background-image:url(/../userpicture/정시영.jpg); background-position:center; background-size:cover;"></svg>
		        </div>
	    	</div>
	    </div>
    </div>
    
    <div class="row mb-2">
		    <div class="col-md-6">
			    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
				    <div class="col p-4 d-flex flex-column position-static">
				          <strong class="d-inline-block mb-2" id="ut">부원</strong>
				          <h3 class="mb-0">유소혜</h3>
				          <div class="mb-1 text-muted">기계자동차로봇부품공학부</div>
				          <div class="mb-1 text-muted">2학년</div>
				    </div>
				      <div class="col-auto">
				      	<svg class="bd-placeholder-img" width="200" height="250" style="background-image:url(/../userpicture/유소혜.jpg); background-position:center; background-size:cover;"></svg>
				      </div>
			    </div>
		    </div>
		    
	    <div class="col-md-6">
		    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
				    <div class="col p-4 d-flex flex-column position-static">
				          <strong class="d-inline-block mb-2" id="ut">부원</strong>
				          <h3 class="mb-0">박상현</h3>
				          <div class="mb-1 text-muted">컴퓨터소프트웨어공학과</div>
				          <div class="mb-1 text-muted">2학년</div>
				    </div>
		        <div class="col-auto">
		        	<svg class="bd-placeholder-img" width="200" height="250" style="background-image:url(/../userpicture/박상현.jpg); background-position:center; background-size:cover;"></svg>
		        </div>
	    	</div>
	    </div>
    </div>
    
    <div class="row mb-2">
		    <div class="col-md-6">
			    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
				    <div class="col p-4 d-flex flex-column position-static">
				          <strong class="d-inline-block mb-2" id="ut">부원</strong>
				          <h3 class="mb-0">강현재</h3>
				          <div class="mb-1 text-muted">자동차공학과</div>
				          <div class="mb-1 text-muted">3학년</div>
				    </div>
				      <div class="col-auto">
				      	<svg class="bd-placeholder-img" width="200" height="250" style="background-image:url(/../userpicture/강현재.jpg); background-position:center; background-size:cover;"></svg>
				      </div>
			    </div>
		    </div>
		    
	    <div class="col-md-6">
		    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
				    <div class="col p-4 d-flex flex-column position-static">
				          <strong class="d-inline-block mb-2" id="ut">부원</strong>
				          <h3 class="mb-0">유민형</h3>
				          <div class="mb-1 text-muted">응용소프트웨어공학과</div>
				          <div class="mb-1 text-muted">2학년</div>
				    </div>
		        <div class="col-auto">
		        	<svg class="bd-placeholder-img" width="200" height="250" style="background-image:url(/../userpicture/유민형.jpg); background-position:center; background-size:cover;"></svg>
		        </div>
	    	</div>
	    </div>
    </div>
</div>

</html>