<html layout:decorate="~{layout}">
      <div layout:fragment="user">
         <li><img src="" alt="">
         <strong>회원</strong>
         <h3>박재성</h3>
         <p>산업ICT기술</p>
         <p>정보</p>
         </li>
         
         <li><img src="" alt="">
         <strong>회원</strong>
         <h3>박재성</h3>
         <p>산업ICT기술</p>
         <p>정보</p>
         </li>
         
         <li><img src="" alt="">
         <strong>회원</strong>
         <h3>박재성</h3>
         <p>산업ICT기술</p>
         <p>정보</p>
         </li>
         
         <li><img src="" alt="">
         <strong>회원</strong>
         <h3>박재성</h3>
         <p>산업ICT기술</p>
         <p>정보</p>
         </li>
         
         <li><img src="" alt="">
         <strong>회원</strong>
         <h3>박재성</h3>
         <p>산업ICT기술</p>
         <p>정보</p>
         </li>
         
         <li><img src="" alt="">
         <strong>회원</strong>
         <h3>박재성</h3>
         <p>산업ICT기술</p>
         <p>정보</p>
         </li>
         
         <li><img src="" alt="">
         <strong>회원</strong>
         <h3>박재성</h3>
         <p>산업ICT기술</p>
         <p>정보</p>
         </li>
         
         <li><img src="" alt="">
         <strong>회원</strong>
         <h3>박재성</h3>
         <p>산업ICT기술</p>
         <p>정보</p>
         </li>
      </div>
</html>