<!DOCTYPE html>
<html lang="kr" layout:decorate="~{layout}">
<head>
    <title>자유게시판</title>
</head>
<body layout:fragment="content">
        
        <div class='container' style="float:right; width:75%;">
        <h2>게시판</h2>
        <form th:action="@{/Notice/input}" th:object="${noticeForm}" method="post">
            <div class="form-group">
                <input type="text" placeholder ="제목" th:field="*{title}" required  style="display:inline-block; width:100%; height:40px;">
            </div>
            <div class="form-group">
                <label for="category" style="display: inline-block">카테고리:</label>
                <select name="number" id="number" required style="width:12%; display:inline-block;">
                    <option value="free">자유</option>
                    <option value="coding">코딩</option>
                    <option value="contest">공모전</option>
                    <option value="gallery">갤러리</option>
                </select>
            </div>

            <div class="form-group">
                	<textarea type="text" placeholder ="내용을 입력해 주세요." th:field="*{text}" rows="15%" required style="resize: none;"></textarea>
            	</div>
            	
            <div class="form-group">
                <input type="file" name="mainphoto" style=" width:60%;">
            </div>
             <div class="submit-button">
                <input type="submit" value="글쓰기" class="btn">
                <a th:href="@{/NoticeMain}" type="button" class="btn btn-cancel">취소</a>
            </div>
            
        </form>
        </div>
    </div>
    
    
</body>
</html>