<!DOCTYPE html>
<html lang="kr" layout:decorate="~{layout}">
<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
<div class="container" style="float:right; width:75%;" layout:fragment="content">
    <!-- 질문 -->
    <h2 class="border-bottom py-2" th:text="${notice.title}"></h2>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;" th:text="${notice.text}"></div>
            <div class="d-flex justify-content-end">
                <div class="badge bg-light text-dark p-2 text-start">
                    <div th:text="${#temporals.format(notice.register, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
            </div>
            <div class="my-3">
            <input type="submit" value="수정" class="btn">
            <input type="submit" value="삭제" class="btn">
        	</div>
        </div>
    </div>
    
    <h5 class="border-bottom my-3 py-2" 
        th:text="|${#lists.size(notice.commentList)}개의 답변이 있습니다.|"></h5> 
    <div class="card my-3" th:each="noticecomment : ${notice.commentList}">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;" th:text="${noticecomment.text}"></div>
            <div class="d-flex justify-content-end">
                <div class="badge bg-light text-dark p-2 text-start">
                    <div th:text="${#temporals.format(noticecomment.register, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
            </div>
        </div>
    </div>
    
   <!-- <form th:action="@{|/Notice/comment/input/${notice.id}|}" method="post" class="my-3">
        <textarea name="text" id="text" rows="10" class="form-control"></textarea>
        <input type="submit" value="답변등록" class="btn btn-primary my-2">
    </form>
    -->
    
    <form th:action="@{|/Notice/comment/input/${notice.id}|}" th:object="${noticecommentForm}" method="post" class="my-3">
   
        <textarea type="text" placeholder ="내용을 입력해 주세요." th:field="*{text}" rows="15" required style="resize: none;"></textarea>
         <input type="submit" value="답변등록" class="btn btn-primary my-2">
    </form>
</div>
</html>